<md-card>
  <md-card-header>
    <md-card-title>{{data.name}} <span *ngIf="data.gender === 'n/a'">⚙</span> </md-card-title>
    <md-card-subtitle>
      <span>{{data.birth_year}}</span>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      A {{data.hair_color}} {{data.gender}}, with {{data.height}}cm height and has {{data.skin_color}} skin.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="onClick.emit(data.name)">BUTTON</button>
    <button md-button [ngClass]="{coolColor: data.starships.length > 1}">STARSHIPS</button>
  </md-card-actions>
</md-card>